# Dependencies
/node_modules

# Hardhat
/artifacts
/cache
/typechain
/typechain-types
/deployments
.hardhat_console_history

# Reports & Coverage
/coverage
/coverage.json
/gas-report.txt
/reports
/slither-reports
/slither-report.json
/test-results.json

# Logs & Runtime data
/logs
*.log
npm-debug.log*
yarn-debug.log*

# Environment
.env
.env.*
!.env.example

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.idea/
.vscode/

# Build output
/build
/dist
