# Dependencies
node_modules/

# Build artifacts
artifacts/
cache/
deployments/

# Environment & Configuration
.env
.idea/

# Reports & Coverage
coverage.json
slither-report.json
reports/

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/

# Windows
*.stackdump
*.cab
*.msi
*.msm
*.msp
*.lnk
