name: CI

on:
  pull_request:
    branches: ['master', 'main']

jobs:
  test:
    name: Install and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Compile contracts
        run: npm run compile

      - name: Run tests
        run: npm test

      - name: Check test coverage
        run: npm run coverage
        continue-on-error: true
